@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.clip-path-hover:hover {
    clip-path: polygon(
        100% 73%,
        60% 73%,
        60% 100%,
        0 100%,
        0% 0%,
        100% 0%,
        100% 0%,
        0% 0%,
        0% 0%,
        100% 0%
    );
}

.clip-path-news {
    clip-path: polygon(
        90% 0,
        100% 18%,
        100% 91%,
        61% 91%,
        53% 100%,
        0% 100%,
        0% 0%
    );
}
